@mixin alert($color, $border, $background) {
    /** 글자색 설정 **/
    color: $color;

    /** 테두리색 설정 **/
    border: 1px solid $border;

    /** 배경색 설정 **/
    background-color: $background;
}

.warning {
    @include alert(#C6A537, #FFE58F, #FFFBE6);
}

.error {
    @include alert(#F36355, #FFCCC7, #FFF2F0);
}

.success {
    @include alert(#4894C2, #91D5FF, #E6F7FF);
}

.informational {
    @include alert(#7BBC49, #B7EB8F, #F6FFED);
}