@import '../../../common/font';

.container {
    /** 요소 크기 설정 **/
    width: 880px;

    /** 외부 여백 설정 **/
    margin: 30 auto;

    /** 내부 여백 설정 **/
    // padding: 130px 103px 90px 103px;

    /** 그리드 설정 **/
    display: grid;
    grid-template-columns: 880px auto;
    column-gap: 30px;
    row-gap: 26px;

    .title {
        /** 그리드 항목 설정 **/
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .sub {
        /** 배경색 설정 **/
        background-color: #FFFFFF;

        /** 테두리 설정 **/
        border: 1px solid #E4E7EC;
        border-radius: 6px;

        /** 내부 여백 설정 **/
        // padding: 20px;

        .top {
            /** 외부 여백 설정 **/
            padding: 20px;

            /** 테두리 설정 **/
            border-bottom: 1px solid #E4E7EC;

            .circle {
                /** 요소 크기 설정 **/
                width: 80px;
                height: 80px;
                box-sizing: border-box;

                /** 배경색 설정 **/
                background-color: #F2F4F7;

                /** 테두리 설정 **/
                border: 1px solid #E4E7EC;
                border-radius: 40px;

                /** 텍스트 중앙 정렬 **/
                text-align: center;
                padding: 31px 0;
            }

            .editImg {
                /** 요소 시작 위치 설정 **/
                float: right;

                /** 배경이미지 설정 **/
                background-image: url(../../../../images/edit_black_24dp.svg);
                background-repeat: no-repeat;
                background-position: center;

                /** 요소 크기 설정 **/
                width: 20px;
                height: 20px;
            }

            .box {
                /** 외부 여백 설정 **/
                margin-top: 20px;

                /** 그리드 설정 **/
                display: grid;
                grid-template-rows: auto auto;
                row-gap: 8px;
            }
        }

        .middle {
            /** 내부 여백 설정 **/
            padding: 34px 20px;

            /** 테두리 설정 **/
            border-bottom: 1px solid #E4E7EC;

            /** 그리드 설정 **/
            display: grid;
            grid-template-rows: auto auto auto;
            row-gap: 28px;
        }

        .bottom {
            /** 내부 여백 설정 **/
            padding: 15px 20px;
        }
    }

    .content {
        /** 그리드 설정 **/
        display: grid;
        row-gap: 30px;

        .section {
            /** 내부 여백 설정 **/
            padding: 30px 20px;

            /** 테두리 설정 **/
            border: 1px solid #E4E7EC;
            border-radius: 6px;

            /** 배경색 설정 **/
            background-color: #FFFFFF;

            /** 그리드 설정 **/
            display: grid;
            row-gap: 40px;

            .subSection {
                /** 그리드 설정 **/
                display: grid;
                row-gap: 8px;

                .circle_120 {
                    @include circle($diameter: 120px, $radius: 60px);

                    /** 텍스트 중앙 정렬 **/
                    text-align: center;
                    padding: 0 0;

                    .filebox {
                        /** 외부 여백 설정 **/
                        margin-top: 13px;

                        /** 텍스트 오른쪽 정렬 **/
                        text-align: right;
                        
                        label[for="file"] {
                            /** 요소 블록 설정 **/
                            display: inline-block;

                            /** 요소 크기 설정 **/
                            width: 34px;
                            height: 34px;

                            /** 배경색 설정 **/
                            background-color: #FFFFFF;

                            /** 배경이미지 설정 **/
                            background-image: url(../../../../images/photo_camera_black_24dp.svg);
                            background-repeat: no-repeat;
                            background-position: center;

                            /** 테두리 설정 **/
                            border: 1px solid #E4E7EC;
                            border-radius: 17px;

                            /** 마우스 커서 모양 설정 **/
                            cursor: pointer;
                        }

                        input[type="file"] {
                            display: none;
                        }
                    }
                }

                .nickName {

                    /** 테두리 설정 **/
                    border: 1px solid #E4E7EC;
                    border-radius: 6px;

                    /** 내부 여백 설정 **/
                    padding: 14px 0 14px 15px;
                }
            }
        }

        .btnBox {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 10px;
            justify-content: flex-end;
        }
    }
}
.passwordErrorText{
    display: block;
    // margin-top: -;
    color: #f36355;
    font-size: 14px;
}

.confirmPasswordErrorText {
    display: block;
    margin-top: -30px;
    color: #f36355;
    font-size: 14px;
  }


  @mixin formBtn {
    width: 99px;
    height: 48px;
    // margin-top: 40px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: #175cd3;
  }
  
  .formBtn {
    @include formBtn();
    opacity: 1;
  }
  
  .formBtnError {
    @include formBtn();
    opacity: 0.5;
  }
  