.container {
    /** 요소 블록 설정 **/
    display: inline-block;

    /** 요소 크기 설정 **/
    width: 243px;
    height: 24px;
    
    /** 외부 여백 설정 **/
    margin: 7px;

    /** 폰트 설정 **/
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #98A2B3;

    .checkBtn {
        /** 요소 크기 설정 **/
        width: 18px;
        height: 18px;

        /** 배경색깔 설정 **/
        background-color: #FFFFFF;

        /** 테두리 설정 **/
        box-sizing: border-box;
        border-radius: 6px;

        /** 외부 여백 설정 **/
        margin-right: 10px;
        
        /** 배경이미지 설정 **/
        background-repeat: no-repeat;
        background-position: center;
    }

    .noSelected {
        /** 배경이미지 설정 **/
        background-image: url(../../images/check-noselect.svg);

        /** 테두리 설정 **/
        border: 1px solid #E4E7EC;
    }

    .selected {
        /** 테두리 설정 **/
        border-color: #333;

        /** 배경이미지 설정 **/
        background-image: url(../../images/check-select.svg);
    }
}