@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@mixin Font($color: black, $lineHeight: 20px) {
    font-family: Spoqa Han Sans Neo;
    font-size: 16px;
    line-height: $lineHeight;
    color: $color;
}

@mixin SubSection {
    margin-top: 40px;
}

.container {
    margin: 70px auto;
    margin-top: 130px;
    width: 1160px;

    .card {
        /** 요소 위치 설정 **/
        position: fixed;
        top: 130px;
        left: calc(50% + 240px);

        /** 내부 여백 설정 **/
        padding: 20px;

        /** 요소 크기 설정 **/
        width: 340px;
        box-sizing: border-box;

        /** 테두리 설정 **/
        border-radius: 6px;

        /** 그림자 설정 **/
        box-shadow: 0px 8px 30px rgba(16, 24, 40, 0.02), 
        0px 8px 24px rgba(16, 24, 40, 0.02), 
        0px 4px 12px rgba(16, 24, 40, 0.02), 
        0px 2px 6px rgba(16, 24, 40, 0.02);

        .hit {
            /** 외부 여백 설정 **/
            margin-top: 8px;

            /** 폰트 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 18px;
            font-weight: bold;
            line-height: 23px;
            color: #101828;
        }

        .share {
            /** 배경이미지 설정 **/
            background-image: url(../../images/share_black_24dp.svg);
            background-repeat: no-repeat;
            background-position: center;

            /** 테두리 설정 **/
            border: 1px solid #E4E7EC;
            border-radius: 20px;
            box-sizing: border-box;

            /** 요소 크기 설정 **/
            width: 40px;
            height: 40px;

            /** 요소 시작 위치 설정 **/
            float: right;
        }

        .member {
            /** 외부 여백 설정 **/
            margin-top: 20px;

            .title {
                /** 외부 여백 설정 **/
                margin-bottom: 18px;

                /** 요소 블록 설정 **/
                display: block;

                /** 폰트 설정 **/
                font-family: Spoqa Han Sans Neo;
                font-size: 14px;
                line-height: 18px;
                color: #101828;
            }

            .memberImg {
                /** 요소 크기 설정 **/
                width: 50px;
                height: 50px;
                box-sizing: border-box;

                /** 테두리 설정 **/
                border: 1px solid #E4E7EC;
                border-radius: 25px;

                /** 폰트 설정 **/
                font-family: Spoqa Han Sans Neo;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                color: #101828;

                /** 외부 여백 설정 **/
                margin-right: 12px;

                /** 내부 여백 설정 **/
                padding: 15px 0;
            }

            .memberNum {
                /** 요소 크기 설정 **/
                width: 50px;
                height: 50px;
                box-sizing: border-box;

                /** 테두리 설정 **/
                border: 1px solid #E4E7EC;
                border-radius: 25px;

                /** 폰트 설정 **/
                font-family: Spoqa Han Sans Neo;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #101828;

                /** 내부 여백 설정 **/
                padding: 15px 0;
            }
        }

        .btnBox {
            /** 외부 여백 설정 **/
            margin-top: 20px;

            .btn {
                /** 요소 크기 설정 **/
                width: 300px;
                box-sizing: border-box;
    
                /** 테두리 설정 **/
                border-radius: 6px;
    
                /** 폰트 설정 **/
                font-family: Spoqa Han Sans Neo;
                font-size: 16px;
                line-height: 20px;

                /** 외부 여백 설정 **/
                margin-top: 10px;
    
                /** 내부 여백 설정 **/
                padding: 14px 0;
            }

            .primary {
                /** 테두리 설정 **/
                border: none;
    
                /** 배경색 설정 **/
                background-color: #175CD3;
    
                /** 글자 색깔 설정 **/
                color: #FFFFFF;
            }
    
            .secondary {
                /** 테두리 설정 **/
                border: 1px solid #E4E7EC;
    
                /** 배경색 설정 **/
                background-color: #FFFFFF;
    
                /** 글자 색깔 설정 **/
                color: #175CD3;
            }
    
            .bookMark {
                /** 배경이미지 설정 **/
                background-image: url(../../images/book_mark_turn_in_not.svg);
                background-repeat: no-repeat;
                background-position: 33% 50%;
            }
        }
    }

    .badgeSection {
        .badge {
            /** 테두리 설정 **/
            border: none;
            border-radius: 6px;

            /** 배경색 설정 **/
            background-color: #F2F4F7;

            /** 폰트 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 12px;
            line-height: 20px;
            color: #1D2939;

            /** 외부 여백 설정 **/
            margin-right: 12px;

            /** 내부 여백 설정 **/
            padding: 4px 8px;
        }

        .recruit {
            /** 배경색 설정 **/
            background-color: #E2EEFE;

            /** 폰트 설정 **/
            color: #4090F7;
        }
    }

    .titleSection {
        /** 외부 여백 설정 **/
        margin-top: 20px;

        /** 내부 여백 설정 **/
        padding-bottom: 40px;

        /** 요소 크기 설정 **/
        width: 790px;

        .title {
            /** 폰트 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 32px;
            line-height: 40px;
            font-weight: bold;
            color: #101828;          
        }
    }

    .profileSection {
        /** 외부 여백 설정 **/
        margin-top: 60px;

        .title {
            /** 폰트 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 18px;
            line-height: 23px;
            font-weight: bold;
            color: #101828;   
        }

        .content {
            /** 외부 여백 설정 **/
            margin-top: 20px;

            /** 내부 여백 설정 **/
            padding: 20px;

            /** 요소 크기 설정 **/
            width: 790px;
            overflow: auto;

            /** 그리드 레이아웃 설정 **/
            display: grid;
            grid-template-columns: 48px 530px auto;
            column-gap: 13px;

            /** 테두리 설정 **/
            border-radius: 6px;
            box-shadow: 0px 8px 24px rgba(16, 24, 40, 0.02), 
            0px 4px 12px rgba(16, 24, 40, 0.02), 
            0px 2px 6px rgba(16, 24, 40, 0.02);

            .profileImg {
                /** 그리드 설정 **/
                grid-row-start: 1;
                grid-row-end: 3;

                /** 요소 크기 설정 **/
                width: 48px;
                height: 48px;

                /** 테두리 설정 **/
                border: 1px solid #E4E7EC;
                border-radius: 24px;

                /** 폰트 설정 **/
                font-family: Spoqa Han Sans Neo;
                font-size: 14px;
                line-height: 18px;
                color: #101828;
                padding: 15px 0;
                text-align: center;
            }

            .description {
                /** 요소 블록 설정 **/
                display: inline-block;

                /** 외부 여백 설정 **/
                margin-left: 2px;

                /** 요소 크기 설정 **/
                width: 530px;

                /** 폰트 설정 **/
                font-family: Spoqa Han Sans Neo;
                font-size: 16px;
                line-height: 26px;
                color: #101828;
            }
            
            .moreSection {
                /** 텍스트 중앙 정렬 **/
                text-align: right;

                .more {
                    /** 폰트 설정 **/
                    font-family: Spoqa Han Sans Neo;
                    font-size: 16px;
                    line-height: 20px;
                    color: #175CD3;
                }                
            }

            .bottom {
                /** 그리드 설정 **/
                grid-column-start: 2;
                grid-column-end: 4;
    
                .tag {
                    /** 폰트 설정 **/
                    font-family: Spoqa Han Sans Neo;
                    font-size: 16px;
                    line-height: 20px;
                    color: #98A2B3;
                    letter-spacing: -0.02em;
    
                    /** 외부 여백 설정 **/
                    margin-right: 12px;
                }
            }
        }
    }

    .subSection {
        margin-top: 40px;
    }

    .introduction {
        /** 외부 여백 설정 **/
        margin-top: 40px;

        /** 요소 크기 설정 **/
        width: 790px;

        .title {
            /** 요소 블록 설정 **/
            display: block;

            /** 폰트 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 18px;
            font-weight: bold;
            line-height: 23px;
            color: #101828;
        }

        .content {
            /** 외부 여백 설정 **/
            margin-top: 20px;

            /** 폰트 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 16px;
            line-height: 26px;
            color: #101828;
        }
    }

    .process {
        /** 외부 여백 설정 **/
        margin-top: 40px;

        .title {
            /** 폰트 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 18px;
            line-height: 23px;
            font-weight: bold;
            color: #101828;
        }

        .content {
            /** 외부 여백 설정 **/
            margin-top: 20px;

            /** 외부 여백 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 16px;
            line-height: 20px;
            color: #101828;
        }
    }

    .location {
        /** 외부 여백 설정 **/
        margin-top: 40px;

        .title {
            /** 폰트 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 18px;
            line-height: 23px;
            font-weight: bold;
            color: #101828;
        }

        .content {
            /** 외부 여백 설정 **/
            margin-top: 20px;

            /** 외부 여백 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 16px;
            line-height: 20px;
            color: #101828;
        }
    }

    .expectPeriod {
        /** 외부 여백 설정 **/
        margin-top: 40px;

        .title {
            /** 폰트 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 18px;
            line-height: 23px;
            font-weight: bold;
            color: #101828;
        }

        .content {
            /** 외부 여백 설정 **/
            margin-top: 20px;

            /** 외부 여백 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 16px;
            line-height: 20px;
            color: #101828;
        }
    }

    .role {
        /** 외부 여백 설정 **/
        margin-top: 40px;

        /** 요소 크기 설정 **/
        width: 790px;

        .title {
            /** 폰트 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 18px;
            line-height: 23px;
            font-weight: bold;
            color: #101828;
        }

        .content {
            /** 외부 여백 설정 **/
            margin-top: 5px;

            .positionContent {
                /** 외부 여백 설정 **/
                margin-top: 15px;

                /** 내부 여백 설정 **/
                padding: 20px;

                /** 테두리 설정 **/
                box-shadow: 0px 8px 24px rgba(16, 24, 40, 0.02), 
                0px 4px 12px rgba(16, 24, 40, 0.02), 
                0px 2px 6px rgba(16, 24, 40, 0.02);
                border-radius: 6px;

                .top {
                    /** 요소 위치 설정 **/
                    overflow: auto;

                    /** 테두리 설정 **/
                    border-bottom: 1px dashed #E4E7EC;

                    .name {
                        /** 외부 여백 설정 **/
                        margin: 10px 0 25px 0;

                        /** 폰트 설정 **/
                        font-family: Spoqa Han Sans Neo;
                        font-size: 16px;
                        line-height: 20px;
                        color: #101828;
                    }

                    .number {
                        /** 요소 시작 위치 설정 **/
                        float: right;

                        /** 외부 여백 설정 **/
                        margin: 10px 22px 0 0;

                        /** 폰트 설정 **/
                        font-family: Spoqa Han Sans Neo;
                        font-size: 16px;
                        line-height: 20px;
                        color: #101828;
                    }

                    .btn {
                        /** 요소 시작 위치 설정 **/
                        float: right;

                        /** 외부 여백 설정 **/
                        margin-right: 20px;

                        /** 내부 여백 설정 **/
                        padding: 10px 15px;

                        /** 테두리 설정 **/
                        border: 1px solid #E4E7EC;
                        box-sizing: border-box;
                        border-radius: 6px;

                        /** 폰트 설정 **/
                        font-family: Spoqa Han Sans Neo;
                        font-size: 16px;
                        line-height: 20px;
                        color: #175CD3;
                    }

                    .complete {
                        /** 배경색 설정 **/
                        background-color: #F2F4F7;

                        /** 폰트 설정 **/
                        color: #98A2B3;
                    }
                }

                .bottom {
                    /** 외부 여백 설정 **/
                    margin-top: 10px;

                    .tag {
                        /** 폰트 설정 **/
                        font-family: Spoqa Han Sans Neo;
                        font-size: 16px;
                        line-height: 20px;
                        color: #98A2B3;
                        letter-spacing: -0.02em;

                        /** 외부 여백 설정 **/
                        margin-left: 12px;
                    }
                }
            }
        }
    }

    .period {
        /** 외부 여백 설정 **/
        margin-top: 40px;

        .title {
            /** 요소 블록 설정 **/
            display: block;

            /** 폰트 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 18px;
            line-height: 23px;
            font-weight: bold;
            color: #101828;
        }

        .content {
            /** 외부 여백 설정 **/
            margin-top: 20px;

            /** 외부 여백 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 16px;
            line-height: 20px;
            color: #101828;
        }
    }

    .tool {
        /** 외부 여백 설정 **/
        margin-top: 40px;

        .title {
            /** 요소 블록 설정 **/
            display: block;
            
            /** 폰트 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 18px;
            line-height: 23px;
            font-weight: bold;
            color: #101828;
        }

        .content {
            /** 외부 여백 설정 **/
            margin-top: 20px;

            /** 외부 여백 설정 **/
            font-family: Spoqa Han Sans Neo;
            font-size: 16px;
            line-height: 20px;
            color: #101828;

            ul {
                /** 외부 여백 설정 **/
                margin-left: 20px;

                > li {
                    /** 목록 유형 설정 **/
                    list-style-type: disc;
                }
            }
        }
    }
}