.filebox {
    width: 120px;

.filebox__body {
    /** 외부 여백 설정 **/
    display: grid;
    grid-row-gap: 8px;
    row-gap: 8px;
    margin-top: -20px;

    justify-content: end;


    /** 텍스트 오른쪽 정렬 **/
   
            
    label[for="file"] {
        /** 요소 블록 설정 **/
        display: inline-block;

        /** 요소 크기 설정 **/
        width: 34px;
        height: 34px;

        /** 배경색 설정 **/
        background-color: #FFFFFF;

        /** 배경이미지 설정 **/
        background-image: url(../../../images/photo_camera_black_24dp.svg);
        background-repeat: no-repeat;
        background-position: center;

        /** 테두리 설정 **/
        border: 1px solid #E4E7EC;
        border-radius: 17px;

        /** 마우스 커서 모양 설정 **/
        cursor: pointer;
    }

    input[type="file"] {
        display: none;
    }

}

}
