.radioButton {
    /** 내부 여백 설정 **/
    padding: 14px 0;

    /** 텍스트 설정**/
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    /** 윤곽선 제거 **/
    outline: none;
}

.radioButton:first-child {
    /** 테두리 설정 **/
    border-radius: 6px 0 0 6px;
}

.radioButton:last-child {
    /** 테두리 설정 **/
    border-radius: 0 6px 6px 0;
}

.on {
    /** 배경색상 설정 **/
    background-color: #EBF0FA;

    /** 테두리 설정 **/
    border: 1px solid #CAD8F0;

    /** 텍스트 색상 설정 **/
    color: #175CD3;
}

.off {
    /** 배경색 설정 **/
    background-color: #FFFFFF;

    /** 테두리 설정 **/
    border: 1px solid #E4E7EC;

    /** 텍스트 색상 설정 **/
    color: #98A2B3;
}
