.container {
    /** 요소 크기 설정 **/
    width: 1270px;

    /** 외부 여백 설정 **/
    margin: 0 auto;

    /** 그리드 설정 **/
    display: grid;
    grid-template-columns: 40px 1160px 40px;
    column-gap: 15px;

    .side {
        display: grid;
        align-items: center;
        button {
            /** 내부 여백 설정 **/
            padding: 8px
            ;

            /** 테두리 설정 **/
            border: none;

            /** 테두리 설정 **/
            background-color: #FFFFFF;
        }
    }

    .content {
        /** 요소 크기 설정 **/
        width: 1160px;

        /** 요소 내 컨텐츠 초과 설정 **/
        overflow: hidden;

        ul {
            /** 요소 크기 설정 **/
            width: 4640px;

            /** 그리드 설정 **/
            display: grid;
            grid-template-columns: calc(1120px / 3) calc(1120px / 3) calc(1120px / 3)
            calc(1120px / 3) calc(1120px / 3) calc(1120px / 3)
            calc(1120px / 3) calc(1120px / 3) calc(1120px / 3)
            calc(1120px / 3) calc(1120px / 3) calc(1120px / 3);
            column-gap: 20px;
        }
    }

}