.container {
    /** 요소 위치 설정 **/
    position: relative;
    
    .card {
        /** 배경색상 설정 **/
        background-color: #FFFFFF;

        /** 그림자 설정 **/
        box-shadow: 0px 8px 30px rgba(16, 24, 40, 0.02), 
        0px 8px 24px rgba(16, 24, 40, 0.02), 
        0px 4px 12px rgba(16, 24, 40, 0.02), 
        0px 2px 6px rgba(16, 24, 40, 0.02);

        /** 테두리 설정 **/
        border-radius: 6px;

        /** 내부 여백 설정 **/
        padding: 20px;

        /** 그리드 설정 **/
        display: grid;
        row-gap: 16px;

        .content {
            /** 그리드 설정 **/
            display: grid;
            grid-auto-flow: column;
            column-gap: 16px;
            justify-content: space-between;

            .section {
                /** 그리드 설정 **/
                display: grid;
                row-gap: 30px;

                .title {
                    /** 링크 설정 **/
                    text-decoration: none;
                    
                    /** 폰트 설정 **/
                    font-family: 'Spoqa Han Sans Neo';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 28px;
                    color: #101828;
                }

                .skillTagSection {
                    /** 폰트 설정 **/
                    font-family: 'Spoqa Han Sans Neo';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    
                    color: #98A2B3;
                }

                .badgeSection {
                    /** 그리드 설정 **/
                    display: grid;
                    grid-auto-flow: column;
                    column-gap: 12px;
                }
            }

            .buttonSection {
                button {
                    /** 내부 여백 설정 **/
                    padding: 3px 5px;

                    /** 배경색상 설정 **/
                    background-color: #FFFFFF;

                    /** 테두리 설정 **/
                    border: none;
                }
            }
        }

        .bottom {
            /** 테두리 설정 **/
            border-top: 1px dashed #E4E7EC;

            /** 내부 여백 설정 **/
            padding-top: 13px;

            /** 그리드 설정 **/
            display: grid;
            grid-auto-flow: column;
            justify-content: space-between;

            span {
                /** 폰트 설정 **/
                font-family: 'Spoqa Han Sans Neo';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #667085;
            }

            .left {
                /** 그리드 설정 **/
                display: grid;
                grid-auto-flow: column;
                column-gap: 6px;
            }

            .right {
                /** 그리드 설정 **/
                display: grid;
                grid-auto-flow: column;
                column-gap: 2px;

                /** 마우스 커서 모양 설정 **/
                cursor: pointer;

                img {
                    /** 외부 여백 설정 **/
                    margin: 6px 8px;
                }
            }
        }
    }

    .tooltip {
        /** 위치 설정 **/
        position: absolute;
        top: 100%;
        left: calc(100% - 145px);
        float: right;
        z-index: 100;

        /** 배경색상 설정 **/
        background-color: #FFFFFF;

        /** 그림자 설정 **/
        box-shadow: 0px 8px 30px rgba(16, 24, 40, 0.02), 
        0px 8px 24px rgba(16, 24, 40, 0.02), 
        0px 4px 12px rgba(16, 24, 40, 0.02), 
        0px 2px 6px rgba(16, 24, 40, 0.02);

        /** 테두리 설정 **/
        border-radius: 6px;

        /** 외부 여백 설정 **/
        margin-top: 8px;

        /** 내부 여백 설정 **/
        padding: 10px;

        .positionList {
            /** 내부 여백 설정 **/
            padding: 0;

            /** 그리드 설정 **/
            display: grid;
            grid-auto-flow: row;
            row-gap: 10px;

            .item {
                /** 목록 유형 설정 **/
                list-style: none;

                /** 그리드 설정 **/
                display: grid;
                grid-auto-flow: column;
                column-gap: 14px;
                justify-content: space-between;

                span {
                    /** 폰트 설정 **/
                    font-family: 'Spoqa Han Sans Neo';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    color: #101828;
                }
            }
        }
    }
}