@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

$page-title-color: #101828;
$exp-color: #667085;
$border-color: #e4e7ec;
$placeholder-color: #98a2b3;
$primary-color: #175cd3;
$kakao-color: #ffe812;

@mixin button-style {
  width: 400px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 16px;
}

.container {
  margin: 70px auto;
  margin-top: 130px;
  width: 1160px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .backBtn {
      margin-bottom: 40px;

      .arrow {
        width: 7.41px;
        height: 12px;
        padding-right: 11px;
      }

      a {
        color: $primary-color;
      }
    }

    .pageTitleSection {
      margin-bottom: 40px;

      .pageTitle {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 40px;
      }

      .pageExp {
        color: $page-title-color;
        line-height: 22px;
      }
    }

    .errorExpSection {
      display: flex;
      justify-content: center;
      text-align: center;

      .errorExp {
        color: $exp-color;
      }

      .emailResendBtn {
        color: $primary-color;
      }
    }

    .loginForm {
      display: flex;
      flex-direction: column;

      .inputWrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }

        label {
          margin-bottom: 8px;
          font-size: 16px;
          color: $exp-color;
        }

        input {
          height: 48px;
          border: 1px solid $border-color;
          border-radius: 6px;
          padding-left: 15px;
          font-size: 16px;
          box-sizing: border-box;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: $placeholder-color;
            font-size: 16px;
          }
        }

        .icon {
          width: 22px;
          position: absolute;
          top: 57%;
          right: 5%;
        }
      }

      .btnList {
        margin-top: 40px;

        .emailLoginBtn {
          @include button-style;
          background-color: $primary-color;
          color: #fff;
        }

        .kakaoLoginBtn {
          @include button-style;
          background-color: $kakao-color;
          margin-top: 12px;
        }

        .googleLoginBtn {
          @include button-style;
          background-color: transparent;
          border: 1px solid $border-color;
          margin-top: 12px;
        }
      }

      .utilityMenus {
        margin-top: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
