.formTopWrapper {
  margin-bottom: 40px;
}

.formTopTitle {
  font-size: 32px;
  line-height: 40.06px;
  font-weight: 700;
  color: #101828;
  margin-bottom: 10px;
  margin-top: 30px;
}

.formTopText {
  font-size: 14px;
  line-height: 22px;
  color: #667085;
  white-space: pre-line;
}
