.container {
    /** 요소 크기 설정 **/
    width: 1366px;

    /** 외부 여백 설정 **/
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 90px;

    /** 내부 여백 설정 **/
    padding: 0 103px;

    /** 그리드 설정 **/
    display: grid;
    row-gap: 30px;

    h2 {
        font-size: 32px;
        line-height: 40px;
        color: #101828;
    }

    .buttonSection {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-gap: 10px;
    }

    .textInputSection {
        display: grid;
        grid-template-columns: 33.333% 33.333% 33.334%;
        grid-gap: 10px;
    }

    .badgeSection {
        display: grid;
        grid-auto-flow: column;
        justify-content: flex-start;
        column-gap: 12px;
    }

    .alarmBadgeSection {
        display: grid;
        grid-auto-flow: column;
        justify-content: flex-start;
        column-gap: 12px;
    }

    .studyCardSection {
        display: grid;
        grid-template-columns: 33.333% 33.333% 33.334%;
        grid-gap: 20px;
    }

    .menberCardSection {
        display: grid;
        grid-template-columns: 33.333% 33.333% 33.334%;
        column-gap: 20px;
    }
}