.container {
    /** 요소 크기 설정 **/
    width: 1366px;

    /** 외부 여백 설정 **/
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 90px;

    /** 내부 여백 설정 **/
    padding: 0 103px;

    /** 그리드 설정 **/
    display: grid;
    row-gap: 30px;

    div {
        /** 그리드 설정 **/
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        row-gap: 30px;

        a {
            /** 텍스트 설정 **/
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #101828;

            /** 텍스트 라인 설정 **/
            text-decoration: underline;
        }
    }
}