.container {
    /** 요소 크기 설정 **/
    width: 880px;

    /** 그리드 설정 **/
    display: grid;
    row-gap: 24px;

    .cardList {
        /** 그리드 설정 **/
        display: grid;
        grid-template-columns: 430px 430px;
        grid-gap: 20px;
        justify-content: flex-start;
    }
}