@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

$title-text: #101828;
$paragraph-text: #475467;
$banner-background: #f9fafb;

.container {
  margin: 70px auto;
  margin-top: 130px;
  width: 1160px;
  height: fit-content;

  .bannerSection {
    width: 100%;
    height: 400px;
    background-color: $banner-background;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .bannerExp {
      width: fit-content;

      .bannerTitle {
        font-size: 40px;
        line-height: 55px;
        color: $title-text;
        margin-bottom: 10px;
      }

      .bannerParagraph {
        color: $paragraph-text;
        font-size: 16px;
        line-height: 26px;
      }
    }

    .bannerImage {
      width: 263px;
      height: 333px;
    }
  }

  .title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .titleText {
      color: $title-text;
      font-size: 20px;
      line-height: 25px;
    }

    .infoCircle {
      width: 16.67px;
      height: 16.67px;
    }
  }

  .wrapper {
    margin-top: 70px;
    margin-bottom: 70px;

    .title {
      width: 100%;
      margin-bottom: 24px;

      .titleText {
        font-size: 20px;
        line-height: 25px;
        margin-right: 7.67px;
      }
    }

    .grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}
