@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

$title-text: #101828;
$paragraph-text: #475467;
$banner-background: #f9fafb;

.bannerSection {
  width: 100%;
  height: 460px;
  background-color: $banner-background;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;

  .bannerWrapper {
    width: 1160px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .bannerExp {
      width: fit-content;

      .bannerTitle {
        font-size: 40px;
        line-height: 55px;
        color: $title-text;
        margin-bottom: 10px;
      }

      .bannerParagraph {
        color: $paragraph-text;
        font-size: 16px;
        line-height: 26px;
      }
    }

    .bannerImage {
      width: 250px;
      height: 333px;
    }
  }
}

.container {
  margin: 70px auto;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;

  .wrapper {
    width: fit-content;

    &:nth-of-type(2) {
      margin-top: 60px;
    }

    .titleSection {
      display: flex;
      margin: 0 70px;
      justify-content: space-between;
      position: relative;

      .title {
        display: flex;

        .titleText {
          font-size: 20px;
          margin-right: 6px;
        }

        img {
          cursor: pointer;
        }
      }

      a {
        font-size: 14px;
      }
    }
  }
}
