@import '../../../css/common/zIndex';

.overlays {
    /** 요소 크기 설정 **/
    width: 100%;
    height: 100%;

    /** 요소 위치 설정 **/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /** 배경색상 설정 **/
    background-color: rgba(0, 0, 0, 0.3);

    /** 요소 높이 설정 **/
    z-index: $modalZIndex;

    /** 마우스 커서 모양 설정 **/
    cursor: pointer;

    .modal {
        /** 요소 크기 설정 **/
        width: 520px;
        height: 272px;

        /** 요소 위치 설정 **/
        position: fixed;
        top: calc(50% - (272px / 2));
        left: calc(50% - (520px / 2));

        /** 배경색상 설정 **/
        background-color: #FFFFFF;

        /** 테두리 설정 **/
        border-radius: 6px;

        /** 내부 여백 설정 **/
        padding: 30px;

        /** 마우스 커서 모양 설정 **/
        cursor: default;

        .titleBar {
            /** 그리드 설정 **/
            display: grid;
            grid-auto-flow: column;
            justify-content: space-between;

            h3 {
                /** 텍스트 설정 **/
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 30px;
                color: #101828;

                /** 내부 여백 설정 **/
                padding-top: 1px;
            }

            button {
                /** 요소 크기 설정 **/
                width: 32px;
                height: 32px;

                /** 내부 여백 설정 **/
                padding: 4px;
            }
        }

        .studyKindSection {
            /** 외부 여백 설정 **/
            margin-top: 34px;

            /** 그리드 설정 **/
            display: grid;
            grid-template-columns: auto auto;
            row-gap: 30px;

            .btn {
                /** 텍스트 설정 **/
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;

                /** 내부 여백 설정 **/
                padding: 24px;
            }

            .completeBtn {
                /** 그리드 항목 설정 **/
                grid-column-start: 1;
                grid-column-end: 3;

                /** 그리드 설정 **/
                display: grid;
            }

            .btn:first-child {
                /** 테두리 설정 **/
                border-radius: 6px 0 0 6px;
            }

            .btn:last-child {
                /** 테두리 설정 **/
                border-radius: 0 6px 6px 0;
            }

            .on {
                /** 배경색상 설정 **/
                background-color: #EBF0FA;

                /** 텍스트 색상 설정 **/
                color: #175CD3;

                /** 테두리 설정 **/
                border: 1px solid #CAD8F0;
            }

            .off {
                /** 배경색상 설정 **/
                background-color: #FFFFFF;

                /** 텍스트 색상 설정 **/
                color: #98A2B3;

                /** 테두리 설정 **/
                border: 1px solid #E4E7EC;
            }
        }
    }
}